
<div class="ui-layout-center">
	<div id="doc"></div>
</div>
<div class="ui-layout-north">
	<table>
		<tr>
			<td class="links"><a href="/">Home</a></td>
			<td class="title">Open Peer – Protocol Specification</td>
			<td class="copyright">&copy; 2011-2013 Hookflash Inc. All rights reserved.</td>
		</tr>
	</table>
</div>
<div class="ui-layout-west">
	<div id="toc"></div>
</div>
