<!DOCTYPE html>
<html lang="en">
    <head>
    	<title>{{title}}</title>
		<script src="ui/jquery.js"></script>
		<script src="ui/jquery.ui.js"></script>
		<script src="ui/jquery.cookie.js"></script>
		<script src="ui/jquery.layout.js"></script>
		<script src="ui/jquery.waypoints.js"></script>
		<script src="ui/app.js"></script>
		<link rel="stylesheet" href="ui/jquery.layout.css">
		<link rel="stylesheet" href="ui/style.css">
    </head>
    <body>
    	{{{body}}}
    </body>
</html>